<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR INICIO -->
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <!--
      Parametros de URL
      /dashboard/students

      Parametros de consulta
      /dashboard/students?id=dkjsajaSDKS&search=video%20%gatitos&
    -->

    <mat-nav-list>
      <a
        mat-list-item
        routerLink="home"
        routerLinkActive
        #homeLink="routerLinkActive"
        [activated]="homeLink.isActive"
        >Inicio</a
      >
      <a
        mat-list-item
        routerLink="courses"
        routerLinkActive
        #coursesLink="routerLinkActive"
        [activated]="coursesLink.isActive"
        >Cursos</a
      >
      <a mat-list-item>Alumnos</a>
      <a
        mat-list-item
        routerLink="enrollments"
        routerLinkActive
        #inscripcionesLink="routerLinkActive"
        [activated]="inscripcionesLink.isActive"
        >Inscripciones</a
      >
      <a
        *ngIf="(authUser$ | async)?.role === 'ADMIN'"
        mat-list-item
        routerLink="products"
        routerLinkActive
        #productosLink="routerLinkActive"
        [activated]="productosLink.isActive"
        >Productos</a
      >
      <a (click)="logout()" mat-list-item>Cerrar sesion</a>
    </mat-nav-list>

    {{ authUser$ | async | json }}
  </mat-drawer>
  <!-- SIDEBAR FIN -->

  <!-- MAIN CONTENT INICIO-->
  <div class="example-sidenav-content">
    <!-- COLORES DE ANGULAR MATERIAL
      "primary"
      "accent"
      "warn"
    -->
    <!-- TOOLBAR INICIO -->
    <mat-toolbar color="primary">
      <div class="flex justify-content-between w-full align-items-center">
        <div>
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App | {{ nombreEntorno }}</span>
        </div>
        @if (authUser$ | async; as user) {
        <div>
          {{ user.firstName + " " + user.lastName }}
        </div>
        }
      </div>
    </mat-toolbar>
    <!-- TOOLBAR FIN -->

    <main class="p-5">
      <router-outlet />
    </main>
  </div>
  <!-- MAIN CONTENT FIN-->
</mat-drawer-container>
