.example-container {
  width: 100%;
  height: 100vh;
}

.example-sidenav-content {
  height: 100%;
}

.example-sidenav {
  padding: 20px;
  width: 200px;
}

.link-activo {
  background-color: grey;
}
